@font-face {
    font-family: lightFont;
    src: url('./coco-gothic.light.ttf');
}

@font-face {
    font-family: boldFont;
    src: url('./coco-gothic.bold.ttf');
}
    
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #363062;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: boldFont;
    border-radius: 5px;
}

/* Change the color of links on hover */
.topnav a.nav-button:hover {
    background-color: #E9D5CA;
    color: #363062;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
    float: right;
    background-color: rgb(255, 255, 255);
    color: #363062;
    border-radius: 5px;
    font-family: boldFont;
}

.topnav a.split:hover {
    background-color: #E9D5CA;
    color: #363062;
}

#logo-lower {
    width: 90%;
    height: auto;
    position: fixed;
    top: 10%;
    left: 25%;  
}

#logo-main {
    transition: transform .7s ease-in-out;
}

#logo-main:hover {
    transform: rotate(360deg);
}

.home div.card {
    box-shadow: #1f1f1f;
    background-color: #363062;
    border-radius: 15px;
    height: 500px;
    width: 520px;
    color:rgb(255, 255, 255);
    margin: 60px;
}

.home div.card div.container {
    padding: 2px 16px;
    color:rgb(255, 255, 255);
}

.home div.card div.container h1 {
    color:rgb(255, 255, 255);
    font-family: boldFont;
    margin-bottom: 20px;
    margin-top: 30px;   
}

.home div.card div.container p {
    color:rgb(255, 255, 255);
    font-family: lightFont;
    font-size: 20px;   
}

#about {
    background-color: #363062;
    border-color: white;
    font-family: boldFont;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 15px 32px;
    border-radius: 15px;
    border-style: solid;
    margin: 20px 120px;
    width: 50%;
}

#about:hover {
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.24), 0 2px 10px 0 rgba(255, 255, 255, 0.19);
}
